* {
  margin: 0;
}
:root {
  --seasalt: #f8f7f7ff;
  --maize: #fee970ff;
  --khaki: #a29888ff;
  --silver: #b3aca2ff;
  --cobalt-blue: #044daeff;
}
body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
}
h2,
h3 {
  font-family: "Titillium Web", sans-serif;
}

p {
  font-family: "Imprima", sans-serif;
}
